hr{
  border-bottom: 0px;
} 
.legenda{
    /* display: none; */
    top: 84% !important;
    height: 16% !important;
}

.shadow-separator {
  height: 20px;
  margin: 0px auto;
  overflow: hidden;
  width: 200px;
}
.shadow-separator:after {
  border-radius: 100%;
  box-shadow: 0 0 10px #333333;
  content: "";
  display: block;
  height: inherit;
  position: relative;
  top: 100%;
}
 
.section{
    margin: 20px;
    border-radius: 20px;
    /* background: url(../assets/images/vermelho.jpg) repeat fixed #D84530;  */
    background-color: #efefef;
    
}

.card:hover{ 
    -webkit-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
  }
  .card{
      border-radius: 5px;
  }

  .legenda {
    background: rgba(131, 130, 130, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
 
@media only screen and (max-width: 601px){

.row .col.m6 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto; 
}
h1{
  font-size: 2.9rem !important;
}
    
}

@media only screen and (max-width: 596px){
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; 
}
h1{
  font-size: 2.9rem !important;
}
 
}
 
.home{
  height: 700px;
 
  background-image: url('../assets/images/Black-wook2.png');
  background-repeat: no-repeat;
  height: 1000px;
}