.canto{
    background-color: aquamarine;
    height: 500px;
}
.nav-wrapper ul.center {
    display: block;
    width: auto;
  }

  .nav-wrapper > ul.center li {
    float: none;
    display: inline-block;
  }
 

nav{
  position: fixed;
  z-index: 2; 
}