.home{
    height: 700px;
   width: 100%;
    background-image: url('../assets/images/Black-wook2.png');
    background-repeat: no-repeat; 
  }

 .logo{
	padding: 0 0 65px 0;
	margin: 0 0 45px 0; 
	font-size: 35px !important;
	line-height: 1.2em !important;
	font-family: Arial, Helvetica, sans-serif !important;
	vertical-align: middle !important;
	top: 50px;	
	position: relative;
 }
.logo p{
	text-align: center;
	color: white;
	font-size: 1.2rem;
}
.js{
	box-shadow: 0 4px 4px -2px #989898;
}

.card{
	-webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
filter: grayscale(100%);
}
 
 .logo h1 { 
	font-weight: bold !important;
	letter-spacing: -0.05em;
	font-size: 5.2rem;
}






.bold-condensed, .wrap-buckets h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.regular-condensed, .wrap-buckets p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.light-condensed, .wrap-buckets .wrap-icon {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

/* ---------------------------------------

BY DEFAULT

-----------------------------------------*/
.wrap-buckets {
  display: table;
  width: 100%;
  position: relative;
	overflow: hidden;
	background-color: wheat; 
}
.wrap-buckets .bucket {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  width: 33.3%;
  padding: 30px 70px;
}
.wrap-buckets .bucket:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  transform: skewX(-15deg);
}
.wrap-buckets .bucket:nth-child(odd):before {
  background-color: #4978ae;
}
.wrap-buckets .bucket:nth-child(even):before {
  background-color: #003366;
}
.wrap-buckets .wrap-icon {
  font-size: 60px;
  color: rgb(155, 32, 32);
}
.wrap-buckets h3 {
  font-size: 26px;
  line-height: 26px;
  margin: 0;
  color: rgb(165, 20, 20);
  text-transform: uppercase;
}
.wrap-buckets p {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0px 0px 0px;
  color: rgb(51, 51, 51);
}
strong{
	 color: wheat !important; 
}

.wrap-buckets:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  background: #4978ae;
}

@media only screen and (max-width: 767px) {
  .wrap-buckets {
    display: block;
  }

  .wrap-buckets .bucket {
    width: 100%;
    display: block;
    padding: 30px 15px;
    height: auto;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wrap-buckets .wrap-icon {
    width: 100%;
    display: block;
  }

  .wrap-buckets .bucket:before {
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}





@media only screen and (max-width: 767px) {
  .home {
    height: 1000px !important;
}

p{
  text-align: center;
}
}
