 
.sobrenos{
    width: 100%;
    height: 800px; 
    background-color: #72B5A4; 
}
 .imagin{
  position: absolute;
z-index: 9999; /* número máximo é 9999 */
 }
.icon-servicee{ 
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
    margin: auto; 
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .cor{
      background-color: black;
      height:100px;
      width:100px;
      position: absolute;
  }

  .abc{  
    margin: auto; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    position: absolute;
    border-radius: 150px;
  }

  .nome{
    display: block;
    text-align: center;
  }

  .cargo{
    display: block;
    text-align: center;
  }

 .social {
    text-align: center;
}

ul, li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

 .social li {
    display: inline-block;
    margin: 0 3px;
}

 .social li a {
    display: block;
    height: 38px;
    line-height: 38px;
    width: 38px;
    border-radius: 19px;
    color: #bab932;
    background: #686716;
    font-size: 22px;
}


.sobrenos h2{
  padding: 0 0 65px 0;
  margin: 0 0 45px 0;  
  line-height: 1.2em !important;
  font-family: Arial, Helvetica, sans-serif !important;
  vertical-align: middle !important;
  top: 50px;	
  position: relative;
  font-weight: bold !important;
  letter-spacing: -0.05em;
  font-size: 3.2rem;
  color: white;
 }

 


.sobrenos .nome {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.3em;
  margin: 0 0 0.2em 0;
}

.sobrenos .cargo {
  font-size: 16px;
  text-transform: uppercase;
  color: #686716;
  line-height: 1.3em;
  margin: 0 0 1.2em 0;
}

.sobrenos p{ 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-style: italic;
    line-height: 1.15em;
    margin: 0 0 1.35em 0; 
    color:  #327668;
    font-weight: normal;
}

